html {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  width: min(100%, 480px);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item + .form-item {
  margin-top: 1rem;
}

.form-item + .button {
  margin-top: 2rem;
}

.label {
  font-size: 0.875rem;
}

input {
  border-color: #000;
  border-radius: 8px;
  padding: 0.5rem;
}

.input {
  margin-top: 0.25rem;
}

button {
  border-radius: 8px;
  padding: 0.5rem;
}

:focus-visible {
  outline: 4px solid #55c500;
  outline-offset: 4px;
}
